.btn-menu {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 0.01em;

  &:hover,
  &:focus {
    color: #fff !important;

    transform: translateY(-0.25em);
  }
}

.btn-start {
  color: $btnStartClr;
  border-color: $btnStartClr;

  &:hover,
  &:focus {
    border-color: $btnStartHoverClr;
    box-shadow: 0 0.5em 0.5em -0.4em $btnStartHoverClr;
  }
}

.btn-storage {
  color: $btnStorageClr;
  border-color: $btnStorageClr;

  &:hover,
  &:focus {
    border-color: $btnStorageHoverClr;
    box-shadow: 0 0.5em 0.5em -0.4em $btnStorageHoverClr;
  }
}

.btn-progress {
  color: $btnProgressClr;
  border-color: $btnProgressClr;

  &:hover,
  &:focus {
    border-color: $btnProgressHoverClr;
    box-shadow: 0 0.5em 0.5em -0.4em $btnProgressHoverClr;
  }
}
