.btn-menu {
  padding: 1em 2em;
  margin: 0.5em;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 0.01em;

  border: 2px solid;

  transition: 0.25s;

  &:hover,
  &:focus {
    color: #fff !important;

    transform: translateY(-0.25em);
  }
}

.btn-start {
  color: $btnStartClr;

  &:hover,
  &:focus {
    box-shadow: 0 0.5em 0.5em -0.4em $btnStartClr;
    border-color: $btnStartClr;
  }
}

.btn-start:hover,
.btn-start:focus {
}
