.cards > .search {
  background-color: #1e1e1e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 300ms linear;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);

    transition: background-color 0.3s ease-in-out;
  }

  &:focus {
    border-color: $cardsAccentClr;
    box-shadow: 0 0 8px rgba(255, 87, 51, 0.7);
  }

  &::placeholder {
    color: #888;
  }
}

.list {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $cardsAccentClr;
    border-radius: 5px;
  }
}

.cards .btn {
  background-color: #333;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    transform 0.2s ease-in-out;

  &:hover {
    background-color: $cardsAccentClr;
    box-shadow: 0 0 10px rgba(255, 87, 51, 0.5);
  }
}

.sort {
  background-color: $cardsAccentClr;

  &:hover {
    background-color: #ff3c00;
  }

  &:active {
    background-color: #cc451f;
  }
}
