.card-name {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #111;
}

.progress-container {
  background-color: #25292c;
}

.progress-pointer {
  text-align: center;
  color: #ffffff;
  background-color: #1b7914;

  transition: width 800ms ease;
}
