.word-list {
  background-color: #1c1c1c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.word-item {
  background-color: #333;
  border: 1px solid #555;
}

.modal-error {
  text-shadow: none;
}

.word-item-btn {
  .word-item:hover & {
    opacity: 1;
  }
}
